@import '../../../styles/settings.scss';

.root {
  background-color: $pagenav-root;

  line-height: 55px;

  .topLeft h1 {
    font-size: 20px;
  }

  .topRigth a {
    margin-left: 1.5rem;
    color: $pagenav-link;
    font-size: 18px;

    &:hover {
      color: $color-primary;
      text-decoration: none;
    }
  }
}

@media screen and (min-width:320px) and (max-width: 768px){
  .topLeft {
    display: none;
  }
}
