@import '../../../styles/settings.scss';

.root {
  text-align: center;
  margin-top: 25px;

  .empty{
    font-size: 34px;
    font-style: italic;
  }

  .content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;

  }

  h2 {
    margin-bottom: 20px;
  }

  .contentLeft {
    width: 400px;
    margin: auto;
    text-align: left;
  }
  .contentRigth {
    width: 600px;
  }

  .product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    margin: 5px auto 5px auto;
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;

    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 20px;
    }

    .title {
      font-size: 24px;
    }

    .amount input{
      flex-direction: column;
      width: 50px;
      text-align: center;
      margin-left: 5px;
    }
  }

  a {
    margin: 15px 0 5px 0;

    &:hover {
      background-color: $pagenav-link;
    }
  }
 }
